 
<div *ngIf="loggedIn">
<div class="container" >
   
    <div style="width: 85px; display:inline-block;font-size: 14px; vertical-align: top;">
       <div class="card" >
      <div class="row  ">

<nav class="nav flex-column " style=" background: #0e5061;  ">
  <a class="nav-link text-center text-white mx-auto active " style="border-bottom: 1px solid #b5d1ff;height: 85px; margin-top: 12px; " [routerLink] = "['/departmentList']" ><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Department List</a>
  <a class="nav-link text-center text-white "  style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/country']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Country</a>  
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/client']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Client</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/department2']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Pay Area</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Work Instructions</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />References</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Service Calendar</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Service CalendarEmail</a>
  <a class="nav-link text-center text-white " style="border-bottom: 1px solid #b5d1ff;height: 85px;margin-top: 12px; " [routerLink] = "['/departmentList']"><i class="fa fa-folder" style="font-size: 2em" aria-hidden="true"></i><br />Data Loader</a>

  
</nav>
</div>
</div></div><div style="width:85%;display:inline-block;margin-left: 15px;vertical-align: top">
  <div style="background: #edf2f9; padding: 10px;">
   <router-outlet></router-outlet>
  </div>
  </div>  
  </div>
</div>
<div *ngIf="!loggedIn">
<!--<div class="container-fluid" style="background: url('assets/img/iota.jpg') no-repeat; background-size: cover; ">-->
  <div class="container" >
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <div style="margin-top:20%">
      <div class="card card-block">
        <p style="font-size: 36px; text-align: center;color: #595959">GPP ADMIN</p>
          <div *ngIf="error">
            <p style="color:red; text-align: center">Invalid username and passsword.</p>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
              <div class="form-group" style="padding:0 30px 10px 30px">
                <label class="labelStyle" for="formGroupExampleInput">User ID</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="username" aria-describedby="basic-addon2">
                   <span class="input-group-addon" id="basic-addon2"><i class="fa fa-user" aria-hidden="true"></i></span>
                </div>

                <label class="labelStyle" for="formGroupExampleInput">Password (case sensitive)</label>
                <div class="input-group">
                  <input type="password" class="form-control" formControlName="password" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
              </div>
          

          <p style="text-align: center">
              <button type="submit" class="btn btn-primary" style="border:3px solid #1a8099; border-radius: 25px; background: #1a8099; " [disabled]="!loginForm.valid">SIGN IN</button>
          </p>
          </form>
      </div>
    </div>
  </div>
  </div>
  <!--</div>-->
</div>
  
</div>

